h1{color: white; 
    text-align: center;
font-size: 70px;}
h2{text-align: center;}
/* esto es un comentario */
body{background-color: rgb(104, 30, 30);}

#goles{color: black;}
#goles{
    width: 150px;
    border: 15px solid green;
    padding: 25px;
    margin: 10px;}

  #fotoperfil {
    width: 250px;
    border: 15px solid black;
    padding: 5px;
    margin: 10px;}

  #icono-contacto{
      width: 3%;
      position: fixed;
bottom: 10px; right: 20px;}

header{
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: rgb(254, 253, 253);}
  
  #logo-header{width: 5%;}

  menu{list-style-type: none;
  float: right;} 
menu > a > li{ display: inline;}

.col{border: 1px solid white;}
.col-8{border: 1px solid white;}

.btn-primary{background-color: black;}
