#logo-header{width: 75px;}
header{ position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: transparent;}

  
menu{list-style-type: none; float: right;} 
menu > a > li{ display: inline;}

h1{color: white;text-align: end; font-size: 500%; border-top: 100px;}



#icono-contacto{
  width: 3%;
  position: fixed;
bottom: 10px; right: 20px;}

.col{border: 2px solid black;}
.col-8{border: 2px solid none}

body{background-image: url(./colas\ de\ zorro.jpeg), url(./foto\ 3.jfif), url(./foto\ 1.jfif);
   background-position: top left,center center,bottom right;
  background-size: 100%;
  background-repeat: no-repeat,no-repeat, repeat;}

  #ModeloDeCaja{
    background-color: bisque;
    width: 300px;
    border: 10px solid #704116;
    padding: 50px;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;}